<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1>Welcome <%= user.fullName %></h1>

    <p>You are successfully logged in.</p>

    <form action="/user/logout" method="POST">
        <button>Logout</button>
    </form>
</div>

</body>
</html>